<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Expense Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>

    <div id="toast" class="toast" style="display: none;">
        <span id="toastMessage"></span>
    </div>
    @if (ViewBag.ShowNavbar ?? true)
    {
       
        <nav class="navbar">
            <a href="@Url.Action("Dashboard", "Employee")">
                <img src="~/Content/images/VeriParkLogo.jfif" alt="VeriPark Logo">
                <span>VeriPark</span>
            </a>
            <div>
                @using (Html.BeginForm("Logout", "User", FormMethod.Post))
                {
                    <button type="submit" class="logout-button">
                        <p>Logout</p>
                    </button>
                }
            </div>
        </nav>
    }
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/toast.js"></script>
    <script>
        @if (TempData["SuccessSignUpMessage"] != null)
        {
            <text>showToast('@TempData["SuccessSignUpMessage"]', 'success');</text>
        }
        @if (TempData["SignUpErrorMessage"] != null) {
            <text>showToast('@TempData["ErrorSignUpMessage"]', 'error');</text>
        }
         @if (TempData["LoginSuccessMessage"] != null) {
            <text>showToast('@TempData["LoginSuccessMessage"]', 'success');</text>
        }
        @if (TempData["LoginErrorMessage"] != null) {
            <text>showToast('@TempData["LoginErrorMessage"]', 'error');</text>
        }
        @if (TempData["LogoutMessage"] != null) {
            <text>showToast('@TempData["LogoutMessage"]', 'success');</text>
         }
        @if (TempData["ExpenseSuccessMessage"] != null) {
            <text>showToast('@TempData["ExpenseSuccessMessage"]', 'success');</text>
        }
        @if (TempData["ExpenseErrorMessage"] != null) {
            <text>showToast('@TempData["ExpenseErrorMessage"]', 'error');</text>
        }
    </script>
</body>
</html>
